nav {
  background: rgb(2, 132, 130);
}
nav a {
  color: white;
  text-decoration: none;
  background: #ffbf00;
  display: block;
  float: left;
  padding: 35px;
}
a:hover {
  background: #ee5f3c; 
}
.card{
  height: 200px;
  width: 150px;
  border: 1px solid black;
  background-image: <img src = "http://imgur.com/a/ZPTFi">;
  border-radius: 10px;
  float: left;
  margin: 8%;
}

h1 {
  color:rgb(2, 132, 130);
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h2 {
  color: #ee5f3c;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

p {
  color: whitesmoke;
  text-align: center;
  background: rgb(2, 132, 130);
}

.name {
  color: #ffbf00;
}

.board {
  height: 80%;
  width: 50%;
  display: inline-block;
}
footer {
  clear:both;
  background: #ee5f3c;
  color: white;
  text-align: center;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

img {
	height: 200px;
  width: 150px;
}
