nav {
  background: rgb(2, 132, 130);
}
nav a {
  color: white;
  text-decoration: none;
  background: #ffbf00;
  display: block;
  float: left;
  padding: 35px;
}

.card{
  height: 200px;
  width: 150px;
  border: 2px solid white;
  background: rgb(2, 132, 130);
  border-radius: 10px;
  display: inline-block;
  margin: 8%;
}

a:hover, div:hover /*unsure on hover*/ {
  background: #ee5f3c; 
}


h1 {
  color:rgb(2, 132, 130);
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h2 {
  color: #ee5f3c;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

p {
  color: whitesmoke;
  text-align: center;
  background: rgb(2, 132, 130);
  padding: 25px;
}

.name {
  color: #ffbf00;
}

.board {
  height: 80%;
  width: 50%;
  display: inline-block;
  padding: 25 px;
  background: #ee5f3c;
  border-radius: 20px;
}
footer {
  clear:both;
  background: #ee5f3c;
  color: white;
  text-align: center;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

img {
	height: 200px;
  width: 150px;
}
 .input {
   padding: 25px;
 }